.navbar > .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.navbar{
    padding-left: 10%;
    padding-right: 1%;
    padding-top: 2% !important;
}

.nav-link{
    color: white !important;
    padding: 0 0.8rem !important;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.nav-link:hover{
    color: rgba(255, 255, 255, 0.850) !important;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.social-link{
    color: white !important;
    padding: 0 0.4rem !important;
    transition: 0.2s ease-in-out;
}

.social-link:hover{
    color: rgba(255, 255, 255, 0.850) !important;
    transition: 0.2s ease-in-out;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    box-shadow: var(--hover);
    border: none !important;
 }

.dropdown-item{
    font-weight: 500 !important;
    background-color: white;
    padding-top: 5%  !important;
    padding-bottom: 5%  !important;
    transition: 0.2s ease-in-out !important;
}

.dropdown-item:hover{
    color: rgb(104, 104, 104) !important;
    background-color: transparent !important;
    transition: 0.2s ease-in-out !important;
}

.offcanvas{
  background-image: url(../../images/texture.jpeg);
  background-size: 100% 100%;
}

.offcanvas-link{
  text-decoration: none;
  color: var(--orange);
  font-size: 1.4rem;
}

.offcanvas-link:hover{
  color: var(--orange);
}

#offcanvasRightLabel{
  font-family: var(--font-noto);
  border-bottom: 5px solid var(--orange);
}

@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

  @media (min-width: 768px) {
    .animate {
      animation-duration: 0.2s;
      -webkit-animation-duration: 0.2s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }


