.banner-img{
    background-image: url(../../../images/banner.jpeg);
    background-size: 100% 100%;
    height: 100vh;
}

.home-banner-text{
    color: white;
    margin-left: 2%;
}

.welcome-text{
    font-family: var(--font-noto);
    font-size: 5.5rem;
    margin-top: 30%;
}

.what-we-do{
    margin-top: 2%;
}

.what-we-do .card{
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.what-we-do .card-title{
    font-size: 2rem
}

.recent-events{
    background-image: url(../../../images/texture.jpeg);
    background-size: 100% 100%;
}

.recent-events{
    margin-top: 2%;
    padding: 2% 5%;
}

.recent-events .card{
    border: none;
    background-color: transparent;
}

.recent-events img{
    border-radius: 0.8rem;
    background-color: transparent;
}

.recent-events .card-title{
    font-size: 1.4rem;
}


.dropdown-button{
    background-color: #ff6600;
    color: white;
    padding: 1.2% 10%;
    border: none;
    border-radius: 100rem;
}

.accordion-body{
    background-color: white !important;
    color: black !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
    margin-top: 2% !important;
}

.events-ongoing{
    margin-top: 3%;
}

.events-ongoing .card{
    border: none;
}

.events-ongoing img{
    border-radius: 0.8rem;
}

.events-ongoing .card-title{
    font-size: 1.4rem;
}

.events-ongoing p{
    text-align: left !important;
}

@media only screen and (max-width: 600px) {
    .welcome-text{
        font-size: 3.6rem;
        margin-top: 45%;
    }
    .home-banner-text{
        font-size: 3.6rem !important;
    }
    .remove{
        display: none;
    }
    .navbar{
        padding: 0% 1% !important;
    }
    .banner-img{
        background-size: 150% 100% !important;
        height: 85vh !important;
    }
    .home-banner-btnHolder{
        margin-top: -5% !important;
    }
    .what-we-do{
        padding: 1% 2%;
    }
    .what-we-do .card-container-ind{
        margin-bottom: 7%;
    }
    .card-img-top{
        margin-top: 12%;
    }
    .mobile-title{
        font-size: 2rem;
    }
    .rounded-orangeBtn{
        background-color: var(--orange);
        color: white;
        padding: 2.4% 6%;
        font-size: 1.2rem;
        border: none;
        border-radius: 100rem;
    }
    .rounded-whiteBtn{
        background-color: #fff;
        color: var(--orange);
        padding: 2.4% 6%;
        font-size: 1.2rem;
        border: none;
        border-radius: 100rem;
      }
}

@media (min-width: 992px) { 
    .removePC{
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .remove{
        display: none;
    }
    .welcome-text{
        font-size: 3.8rem;
    }
    .home-banner-text{
        font-size: 3.8rem !important;
    }
    .banner-img{
        height: 80vh;
    }
    .navbar{
        padding: 1% !important;
    }
    .home-banner-btnHolder{
        margin-top: -5% !important;
    }
}

@media only screen and (max-width: 375px) {
    .welcome-text{
        margin-top: 12%;
    }
}