.banner-img{
    background-image: url(../../../images/banner.jpeg);
    background-size: 100% 100%;
    height: 100vh;
}

.home-banner-text{
    color: white !important;
    margin-left: 2%;
}

.nice{
    background-color: #ffffff;
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%236b6248' fill-opacity='0.21'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.welcome-text{
    font-family: var(--font-noto);
    font-size: 5rem;
    margin-top: 34%;
}

.what-we-do{
    margin-top: 2%;
}

.what-we-do .card{
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.what-we-do .card-title{
    font-size: 2rem;
    font-family: var(--font-noto);
}

.what-we-do .card-text{
    font-family: var(--font-mono);
}

.recent-events{
    background-color: rgb(250 249 231); 
}

.recent-events{
    margin-top: 2%;
    padding: 2% 5%;
}

.recent-events .card{
    border: none;
    background-color: transparent;
}

.recent-events img{
    border-radius: 0.8rem;
    background-color: transparent;
}

.recent-events .card-title{
    font-size: 1.4rem;
}


.dropdown-button{
    background-color: var(--red-alphaBtn);
    color: white;
    padding: 1.2% 15%;
    border: none;
    border-radius: 100rem;
}

.accordion-body{
    background-color: var(--red-alphaBtn) !important;
    color: white !important;
    font-family: var(--font-mono);
    margin-top: 2% !important;
}

.events-ongoing{
    margin-top: 3%;
}

.events-ongoing .card{
    border: none;
}

.events-ongoing img{
    border-radius: 0rem;
}

.events-ongoing .card-title{
    font-size: 1.4rem;
    font-family: var(--font-mono);
}

.events-ongoing p{
    text-align: left !important;
    font-size: 1rem;
    font-family: var(--font-mono);
}

.symbol{
    font-size: 4em;
    color: rgba(245, 71, 71, 0.637);
}

.define{
    color: #6b6248;
    font-family: var(--font-noto);
}

.about-link{
    color:rgba(245, 71, 71, 0.637);
    letter-spacing: 3px;
    text-decoration: none;
    border-bottom: 2px solid white;
    transition: 0.2s ease-in-out;
}

.about-link:hover{
    color:rgba(245, 71, 71, 0.637);
    border-bottom: 2px solid var(--red-alpha);
    transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .welcome-text{
        font-size: 3.6rem;
        margin-top: 45%;
    }
    .home-banner-text{
        font-size: 3.6rem !important;
    }
    .remove{
        display: none;
    }
    .navbar{
        padding: 0% 1% !important;
    }
    .banner-img{
        background-size: 150% 100% !important;
        height: 85vh !important;
    }
    .home-banner-btnHolder{
        margin-top: -5% !important;
    }
    .what-we-do{
        padding: 1% 2%;
    }
    .what-we-do .card-container-ind{
        margin-bottom: 7%;
    }
    .card-img-top{
        margin-top: 12%;
    }
    .mobile-title{
        font-size: 2rem;
    }
    .rounded-orangeBtn{
        background-color: var(--orange);
        color: white;
        padding: 2.4% 6%;
        font-size: 1.2rem;
        border: none;
        border-radius: 100rem;
    }
    .rounded-whiteBtn{
        background-color: #fff;
        color: var(--orange);
        padding: 2.4% 6%;
        font-size: 1.2rem;
        border: none;
        border-radius: 100rem;
    }

    .banner-img{
        background-size: 180% 100% !important;
    }

    .orphanage-section{
        padding: 12% 5% !important;
    }

    .orphanage-section-img{
        margin-top: 15%;
    }

    .explore-more{
        padding: 2.4% 5% !important;
    }
}

@media (min-width: 992px) { 
    .removePC{
        display: none;
    }

}

@media only screen and (max-width: 992px) {
    .remove{
        display: none;
    }
    .welcome-text{
        font-size: 3.8rem;
    }
    .home-banner-text{
        font-size: 3.8rem !important;
    }
    .banner-img{
        height: 80vh;
    }
    .navbar{
        padding: 1% !important;
    }
    .home-banner-btnHolder{
        margin-top: -5% !important;
    }
}

@media only screen and (max-width: 376px) {
    .welcome-text{
        margin-top: 18%;
    }

    .banner-img{
        background-size: 160% 100% !important;
    }

    .orphanage-section{
        padding: 12% 5% !important;
    }

    .orphanage-section-img{
        margin-top: 15%;
    }

    .welcome-text{
        font-size: 3rem;
    }
}
