.footer{
    background-color: rgb(252 248 234);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0.2%;
    padding-top: 2%;
    margin-top: 8%;
}

.footer-desc{
    padding: 0% 12% !important;
}

.cred{
    color: var(--wood);
    font-family: var(--font-mono);
}

.dev-link{
    color: var(--wood);
}

.dev-link:hover{
    color: var(--wood);
}

@media only screen and (max-width: 600px) {
    .footer{
        padding: 0% 2.5%;
    }
    .credit{
        text-align: center;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 390px) {
    .credit{
        font-size: 0.7rem;
    }
}
