.footer{
    background-color: rgb(31, 31, 31);
    padding: 0% 5%;
    margin-top: 8%;
}

.footer-desc{
    padding: 0% 12% !important;
}

.credit{
    font-size: 0.9rem;
}

.dev-link{
    color:#6c757d;
    font-size: 0.9rem;
}

.dev-link:hover{
    color: #6c757d;
}