.edu-bg{
    background-image: url(../../../images/education/eduBg.jpeg);
    background-size: 100% 100%;
    height: 75vh;
}

@media only screen and (max-width: 600px) {
    .edu-bg{
        background-image: url(../../../images/education/eduBg.jpeg);
        background-size: 200% 100%;
        height: 75vh;
    }
}